$_3xl: "only screen and (min-width : 2560px)";
$_2xl: "only screen and (min-width : 1440px)";
$xl: "only screen and (min-width : 1280px)";
$lg: "only screen and (min-width : 1024px)";
$md: "only screen and (min-width : 768px)";
$sm: "only screen and (min-width : 640px)";
$xs: "only screen and (max-width : 639px)";
$m425: "only screen and (min-width : 425px)";

$primary-clr: #a22823;
$secondary-clr: #221d42;
